<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>springtimeCreditCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>masqButtonCell</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>springtimeCreditCell</string>
		</dict>


		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>COMPAT_HEADER_TEXT</string>
			<key>footerText</key>
			<string>COMPAT_FOOTER_TEXT</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.candoizo.springtime</string>
			<key>key</key>
			<string>enable</string>
			<key>label</key>
			<string>COMPAT_ENABLE_LABEL</string>
			<key>PostNotification</key>
			<string>com.candoizo.springtime.settingschanged</string>
		</dict>
		<dict>
					<key>cell</key>
					<string>PSEditTextCell</string>
					<key>label</key>
					<string>CUSTOMBOOK_URL</string>
					<key>key</key>
					<string>theurl</string>
					<key>defaults</key>
					<string>com.candoizo.springtime</string>
					<key>default</key>
					<string></string>
					<key>placeholder</key>
					<string>my url "including http:https"</string>
					<key>PostNotification</key>
					<string>com.candoizo.springtime.settingschanged</string>
				</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>BAD_HEADER_TEXT</string>
			<key>footerText</key>
			<string>COMPAT_FOOTER_TEXT</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.candoizo.springtime</string>
			<key>key</key>
			<string>rcol</string>
			<key>label</key>
			<string>COMPAT_RANDOM_LABEL</string>
			<key>PostNotification</key>
			<string>com.candoizo.springtime.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.candoizo.springtime</string>
			<key>key</key>
			<string>cellpage</string>
			<key>label</key>
			<string>COMPAT_CELL_LABEL</string>
			<key>PostNotification</key>
			<string>com.candoizo.springtime.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.candoizo.springtime</string>
			<key>key</key>
			<string>lowpage</string>
			<key>label</key>
			<string>COMPAT_LPM_LABEL</string>
			<key>PostNotification</key>
			<string>com.candoizo.springtime.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.candoizo.springtime</string>
			<key>key</key>
			<string>recpage</string>
			<key>label</key>
			<string>COMPAT_REC_LABEL</string>
			<key>PostNotification</key>
			<string>com.candoizo.springtime.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.candoizo.springtime</string>
			<key>key</key>
			<string>small</string>
			<key>label</key>
			<string>COMPAT_SML_LABEL</string>
			<key>PostNotification</key>
			<string>com.candoizo.springtime.settingschanged</string>
		</dict>



				<dict>
					<key>cell</key>
					<string>PSGroupCell</string>
					<key>label</key>
					<string>BAD_THEME_TEXT</string>
					<key>footerText</key>
					<string>THEME_FOOTER_TEXT</string>
				</dict>
				<dict>
					<key>cell</key>
					<string>PSSwitchCell</string>
					<key>default</key>
					<false/>
					<key>defaults</key>
					<string>com.candoizo.springtime</string>
					<key>key</key>
					<string>custom</string>
					<key>label</key>
					<string>THEME_LABEL</string>
					<key>PostNotification</key>
					<string>com.candoizo.springtime.settingschanged</string>
				</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>DEVELOPER_HEADER_TEXT</string>
			<key>footerText</key>
			<string>DEVELOPER_FOOTER_TEXT</string>
		</dict>
	</array>
	<key>title</key>
	<string></string>
</dict>
</plist>
